# Binaries
omnitop
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# AppImage artifacts
AppDir/
*.AppImage

# Dependency directories
vendor/
